<mat-grid-list cols="2" rowHeight="160px">

  <mat-grid-tile [colspan]="2" [rowspan]="1">

    <div class="column fullWidth fullHeight">

      <div class="row-space-between-center fullheight">

        <div class="column-center columnWidth centerAlignText">

          <p><strong>{{tournament.name}}</strong></p>

        </div>

        <div class="column-center columnWidth centerAlignText">

          <p *ngIf="checkOwner()"><strong>Invite code: </strong>{{tournament.inviteCode}}</p>

        </div>

        <div class="column-center columnWidth centerAlignText">

          <p><strong>Owner: </strong>{{tournament.ownerUsername}}</p>

        </div>

      </div>

      <div class="row-center-center centerAlignText">

        <p class="textOverflow">{{tournament.description}}</p>

      </div>

    </div>

  </mat-grid-tile>

  <mat-grid-tile [rowspan]="4">

      <div class="column-space-between-center fullWidth" style="height: 100%;">

        <p class="centerAlignText"><strong>Standings</strong></p>

        <div class="fullWidth">

          <table mat-table [dataSource]="tournamentTeams" class="mat-elevation-z8">

            <ng-container matColumnDef="nr">
              <th mat-header-cell *matHeaderCellDef>Nr</th>
              <td mat-cell *matCellDef="let team; let i = index;">{{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="teamName">
              <th mat-header-cell *matHeaderCellDef>Team name</th>
              <td mat-cell *matCellDef="let team">{{team.teamName}}</td>
            </ng-container>

            <ng-container matColumnDef="totalPoints">
              <th mat-header-cell *matHeaderCellDef>Points</th>
              <td mat-cell *matCellDef="let team">{{team.totalPoints}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="standingColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: standingColumns;"></tr>

          </table>

          <mat-paginator #standingsPaginator [pageSize]="8"></mat-paginator>

        </div>

      </div>

  </mat-grid-tile>

  <mat-grid-tile [rowspan]="4">

    <div class="column-space-between fullWidth fullHeight">

      <div>

        <div class="row-flex-end-center">

          <div class="column-center-center width60P">

            <p class="centerAlignText"><strong>Bulletin board</strong></p>

          </div>

          <div class="column-center-flex-end width20P">

            <button mat-raised-button color="primary" (click)="addPost(newPostControl.value ?? '')" [disabled]="newPostControl.invalid">Create post</button>

          </div>

        </div>

        <!-- <div class="row-center-center">

          <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>New post</mat-label>
            <input matInput [formControl]="newPostControl" placeholder="Write something..."/>
            <mat-error *ngIf="newPostControl.hasError('minlength')">
              Must have a minimum length of 2 characters
            </mat-error>
            <mat-error *ngIf="newPostControl.hasError('maxlength')">
              Must not exceed 500 characters
            </mat-error>
          </mat-form-field>

        </div> -->

      </div>

      <div>

        <table mat-table [dataSource]="bulletins" class="mat-elevation-z8">

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef [columnWidth]="'8rem'">Username</th>
            <td mat-cell *matCellDef="let bulletin" [columnWidth]="'8rem'">{{bulletin.username}}</td>
          </ng-container>

          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef [columnWidth]="'auto'">Text</th>
            <td mat-cell *matCellDef="let bulletin" [columnWidth]="'auto'">{{bulletin.text}}</td>
          </ng-container>

          <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef [columnWidth]="'12rem'">Timestamp</th>
              <td mat-cell *matCellDef="let bulletin" [columnWidth]="'12rem'">{{bulletin.lastEditedTime != undefined ? bulletin.lastEditedTime : bulletin.createdTime}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="bulletinColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: bulletinColumns;"></tr>

        </table>

        <mat-paginator #bulletinPaginator [pageSize]="8"></mat-paginator>

      </div>

      <!-- <div class="row fullWidth">

        <mat-grid-list cols="1" rowHeight="fit">
          <mat-grid-tile *ngFor="let post of paginatedBulletins">
            <div class="post-item">
              <span>{{ post.text }}</span>
              <button mat-button color="primary" (click)="deletePost(post.id)">
                Delete
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-paginator class="fullWidth" [length]="bulletins.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" (page)="onPageChange($event)"></mat-paginator>

      </div> -->

    </div>

  </mat-grid-tile>

  <!-- <mat-grid-tile [rowspan]="5">



  </mat-grid-tile>

  <mat-grid-tile [rowspan]="5">



  </mat-grid-tile> -->

</mat-grid-list>

<!-- <div class="flex-wrapper fullWidth standardPadding accent-background-color">

  <div class="row-space-between-start">

    <div class="column">

      <p><strong>{{tournament.name}}</strong></p>

      <p>{{tournament.description}}</p>

    </div>

    <div class="column">

      <p>Owner: {{tournament.ownerUsername}}</p>

      <p *ngIf="checkOwner()">Invite code: </p>

    </div>

  </div>

  <div class="row-center-center"></div>

  <div class="row-space-between-start">

    <div class="column columnWidth">

      <p class="centerAlignText"><strong>Standings</strong></p>

      <table mat-table class="mat-elevation-z8">

        <ng-container matColumnDef="teamName">
          <th mat-header-cell *matHeaderCellDef class="">Name</th>
          <td mat-cell *matCellDef="let player">{{ player.firstName }} {{ player.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="totalPoints">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let player">{{ player.positionName }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

    <div class="column columnWidth">

      <p class="centerAlignText"><strong>Bulletin board</strong></p>

      <div class="row-space-between-center">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New post</mat-label>
          <textarea matInput [formControl]="newPostControl" placeholder="Write something..." rows="3"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addPost(newPostControl.value ?? '')" [disabled]="newPostControl.invalid">Post</button>

      </div>

      <div class="row fullWidth">

        <mat-grid-list cols="1" rowHeight="fit">
          <mat-grid-tile *ngFor="let post of bulletins">
            <div class="post-item">
              <span>{{ post }}</span>
              <button mat-button color="primary" (click)="deletePost(post.id)">
                Delete
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-paginator [length]="bulletins.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" (page)="onPageChange($event)"></mat-paginator>

      </div>

    </div>

    <div class="column columnWidth">

      <table mat-table class="mat-elevation-z8">

        <p class="centerAlignText"><strong>Matches</strong></p>

        <ng-container matColumnDef="teamName">
          <th mat-header-cell *matHeaderCellDef class="">Name</th>
          <td mat-cell *matCellDef="let player">{{ player.firstName }} {{ player.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="totalPoints">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let player">{{ player.positionName }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

  </div>

</div> -->
