/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-color {
  color: #458773;
}

.primary-background-color {
  background-color: #458773;
}

.accent-color {
  color: #23433A;
}

.accent-background-color {
  background-color: #23433A;
}

.warn-color {
  color: #887634;
}

.warn-background-color {
  background-color: #887634;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.actions {
  margin-top: 20px;
  text-align: center;
}

.row-start-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.row-start-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.row-center-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.row-center-end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.row-center-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row-end-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.row-end-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.row-space-between-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row-space-between-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.column-start-start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  align-content: flex-start;
}

.column-start-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  align-content: center;
}

.column-start-end {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  align-content: flex-end;
}

.column-center-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  align-content: center;
}

.column-center-start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  align-content: flex-start;
}

.column-center-end {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  align-content: flex-end;
}

.column-end-end {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-end;
  align-content: flex-end;
}

.column-space-between-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  align-content: space-between;
}
