<mat-card color="accent" class="home-container">
  <img src="assets/LogoCircle.png" alt="TeamTactics Banner" class="banner-image">

  <mat-card-content>
    <p class="main-text">
      Welcome to <strong>TeamTactics</strong>, a free-to-play manager game based on real-world competitions, clubs, and players.
    </p>

    <p class="secondary-text">
      Register now to create your own tournament and put your strategic skills to the test!
      Invite your peers to compete, showcase their data analysis expertise, and build a winning team with unique tactics.
      Who will rise to the top?
    </p>
  </mat-card-content>
</mat-card>
