<div class="flex-wrapper">

  <div class="column fullWidth standardPadding accent-background-color">

    <table mat-table [dataSource]="matchPoints" class="mat-elevation-z8 topMargin">

      <ng-container matColumnDef="playerName">
        <th mat-header-cell *matHeaderCellDef class="">Player</th>
        <td mat-cell *matCellDef="let match">{{ match.playerName }}</td>
      </ng-container>

      <ng-container matColumnDef="clubName">
        <th mat-header-cell *matHeaderCellDef>Club</th>
        <td mat-cell *matCellDef="let match">{{ match.clubName }}</td>
      </ng-container>

      <ng-container matColumnDef="pointCategory">
        <th mat-header-cell *matHeaderCellDef>Point category</th>
        <td mat-cell *matCellDef="let match">{{ match.pointCategory }}</td>
      </ng-container>

      <ng-container matColumnDef="occurrences">
        <th mat-header-cell *matHeaderCellDef>Occurrences</th>
        <td mat-cell *matCellDef="let match">{{ match.occurrences }}</td>
      </ng-container>

      <ng-container matColumnDef="totalPoints">
        <th mat-header-cell *matHeaderCellDef>Total points</th>
        <td mat-cell *matCellDef="let match">{{ match.totalPoints }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSize]="10" showFirstLastButtons aria-label="Select page"></mat-paginator>

  </div>

</div>
