<div class="container warn-background-color">

  <div class="column accent-background-color">

    <div class="row-space-between-center">

      <button mat-raised-button color="primary" [disabled]="checkIfLocked()" (click)="openAssignCaptain()">Set captain</button>

      <button mat-raised-button color="primary" [disabled]="checkLockAvailability()" (click)="lockRoster()">Lock roster</button>

    </div>

    <table mat-table [dataSource]="userRoster" class="mat-elevation-z8 topMargin">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="">Name</th>
        <td mat-cell *matCellDef="let player">{{ player.firstName }} {{ player.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let player">{{ player.positionName }}</td>
      </ng-container>

      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef>Club</th>
        <td mat-cell *matCellDef="let player">{{ player.clubName }}</td>
      </ng-container>

      <ng-container matColumnDef="captain">
        <th mat-header-cell *matHeaderCellDef>Captain</th>
        <td mat-cell *matCellDef="let player">
          <mat-slide-toggle disabled [checked]="player.captain"></mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>

  <div class="column accent-background-color">

    <div class="formation-container">

      <button mat-raised-button color="primary" [disabled]="checkIfLocked()" (click)="openAssignFormation()">Set formation</button>

      <div class="pitch">

        <div class="goal-area-top top-goal"></div>
        <div class="goal-area-bottom bottom-goal"></div>
        <div class="penalty-area-top top-penalty"></div>
        <div class="penalty-area-bottom bottom-penalty"></div>

        <div class="players">

          <div class="formation">

            <div [ngClass]="team.isLocked ? 'player disabled' : 'player'"
              *ngFor="let a of formation.attackers">

              <img *ngIf="a.id == 0" src="assets/player.svg">
              <img *ngIf="a.id > 0" [src]="a.captain ? 'assets/player_captain.svg' : 'assets/player_color.svg'">

              <div class="shirt" (click)="openAssignPlayer(a.positionId, a.positionName, a.id)">

                <div class="player-info">

                  <div class="name">{{a != undefined ? a.firstName : ""}}</div>
                  <div class="name">{{a != undefined ? a.lastName : ""}}</div>
                  <div class="name">{{a != undefined ? (a.id > 0 ? "(" + a.clubName + ")" : a.clubName) : ""}}</div>
                  <mat-icon *ngIf="a.id > 0" fontIcon="close"class="remove" (click)="removePlayer(a.id)"></mat-icon>

                </div>

              </div>

              <mat-icon *ngIf="a.id > 0" fontIcon="close" class="remove" (click)="removePlayer(a.id)"></mat-icon>

            </div>

          </div>

          <div class="formation">

            <div [ngClass]="team.isLocked ? 'player disabled' : 'player'"
              *ngFor="let m of formation.midfielders; let i = index;">

              <img *ngIf="m.id == 0" src="assets/player.svg">
              <img *ngIf="m.id > 0" [src]="m.captain ? 'assets/player_captain.svg' : 'assets/player_color.svg'">

              <div class="shirt" (click)="openAssignPlayer(m.positionId, m.positionName, m.id)">

                <div class="player-info">

                  <div class="name">{{m != undefined ? m.firstName : ""}}</div>
                  <div class="name">{{m != undefined ? m.lastName : ""}}</div>
                  <div class="name">{{m != undefined ? (m.id > 0 ? "(" + m.clubName + ")" : m.clubName) : ""}}</div>
                  <mat-icon *ngIf="m.id > 0" fontIcon="close"class="remove" (click)="removePlayer(m.id)"></mat-icon>

                </div>

              </div>

              <mat-icon *ngIf="m.id > 0" fontIcon="close" class="remove" (click)="removePlayer(m.id)"></mat-icon>

            </div>

          </div>

          <div class="formation">

            <div [ngClass]="team.isLocked ? 'player disabled' : 'player'"
              *ngFor="let d of formation.defenders; let i = index;">

              <img *ngIf="d.id == 0" src="assets/player.svg">
              <img *ngIf="d.id > 0" [src]="d.captain ? 'assets/player_captain.svg' : 'assets/player_color.svg'">

              <div class="shirt" (click)="openAssignPlayer(d.positionId, d.positionName, d.id)">

                <div class="player-info">

                  <div class="name">{{d != undefined ? d.firstName : ""}}</div>
                  <div class="name">{{d != undefined ? d.lastName : ""}}</div>
                  <div class="name">{{d != undefined ? (d.id > 0 ? "(" + d.clubName + ")" : d.clubName) : ""}}</div>

                </div>

              </div>

              <mat-icon *ngIf="d.id > 0" fontIcon="close" class="remove" (click)="removePlayer(d.id)"></mat-icon>

            </div>

          </div>

          <div class="formation">

            <div [ngClass]="team.isLocked ? 'player disabled' : 'player'"
              (click)="openAssignPlayer(formation.goalkeeper.positionId, formation.goalkeeper.positionName, formation.goalkeeper.id)">

              <img *ngIf="formation.goalkeeper.id == 0" src="assets/player.svg">
              <img *ngIf="formation.goalkeeper.id > 0" [src]="formation.goalkeeper.captain ? 'assets/player_captain.svg' : 'assets/player_color.svg'">

              <div class="shirt">

                <div class="player-info">

                  <div class="name">{{formation.goalkeeper != undefined ? formation.goalkeeper.firstName : ""}}</div>
                  <div class="name">{{formation.goalkeeper != undefined ? formation.goalkeeper.lastName : ""}}</div>
                  <div class="name">{{formation.goalkeeper != undefined ? (formation.goalkeeper.id > 0 ? "(" +
                    formation.goalkeeper.clubName + ")" :
                    formation.goalkeeper.clubName) : ""}}</div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
