.formation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 100%;
}

.pitch {
  width: 100%;
  height: 650px;
  background: green;
  border: 2px solid white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  /* Field markings */
  &::before, &::after {
    content: '';
    position: absolute;
    border: 2px solid white;
  }

  /* Center circle */
  &::before {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Midfield line */
  &::after {
    width: calc(100% - 2px);
    height: 0;
    top: 50%;
    left: 0;
  }
}

.goal-area-bottom {
  position: absolute;
  width: 160px;
  height: 50px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.goal-area-top {
  position: absolute;
  width: 160px;
  height: 50px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.top-goal {
  top: 0px;
}

.bottom-goal {
  bottom: 0px;
}

.penalty-area-bottom {
  position: absolute;
  width: 240px;
  height: 120px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.penalty-area-top {
  position: absolute;
  width: 240px;
  height: 120px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.top-penalty {
  top: 0px;
}

.bottom-penalty {
  bottom: 0px;
}

.players {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.goalkeeper, .defenders, .midfielders, .attackers {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.player {
  position: relative;
  width: 100px;
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.player:hover {
  cursor: pointer;
}

.shirt {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 0 0;
}

.column {
  flex: 1;
  padding: 20px;
  text-align: center;
  min-height: 100%;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.name {
  text-align: center;
  text-overflow: ellipsis;
  font-size: 11px;
  text-shadow: 1px 1px 2px black;
}

.topMargin {
  margin-top: 55px;
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
}
